.footer {
    background: var(--footer-bg);
    max-width: 100%;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 6px 72px 6px 0;
    }
    &__copyright {
        padding-right: 8px;
        position: relative;
    }
    &__copyright::after {
        content: '';
        width: 1px;
        height: 16px;
        background:#DFE3E9;
        position: absolute;
        top: 0;
        right: 0;
    }
    &__divider {
        padding-left: 8px;
    }
    &__copyright,
    &__divider {
        text-align: center;
        font-size: 13px;
        font-weight: 400;
        line-height: 15.6px; 
        color: var(--footer-text);
    }
}